body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header{
    background-color: sienna;
    color: antiquewhite;
    padding: 1em;
}
#part_1{
    display: flex;
    justify-content: space-between;
}
#part_1 #logo{
/* width: 10%; */
font-size: 4em;
rotate: -90deg ;
padding: 1em;
}
#part_1 h1{
/* width: 50%; */
}
#part_1 #social_links{
    /* width: 40%; */
}
#social_links i{
    font-size: 2em;
}